In [38]:
import folium
import branca
import pandas as pd

In [39]:
df = pd.read_csv("Volcanoes.txt")

In [18]:
df.head()

,VOLCANX020,NUMBER,NAME,LOCATION,STATUS,ELEV,TYPE,TIMEFRAME,LAT,LON
0,509.0,1201-01=,Baker,US-Washington,Historical,3285.0,Stratovolcanoes,D3,48.776798,-121.810997
1,511.0,1201-02-,Glacier Peak,US-Washington,Tephrochronology,3213.0,Stratovolcano,D4,48.111801,-121.111000
2,513.0,1201-03-,Rainier,US-Washington,Dendrochronology,4392.0,Stratovolcano,D3,46.869801,-121.751000
3,515.0,1201-05-,St. Helens,US-Washington,Historical,2549.0,Stratovolcano,D1,46.199799,-122.181000
4,516.0,1201-04-,Adams,US-Washington,Tephrochronology,3742.0,Stratovolcano,D6,46.205799,-121.490997

In [20]:
for i in df:
    print(df['LAT'])

0     48.776798
1     48.111801
2     46.869801
3     46.199799
4     46.205799
5     45.879799
6     45.929798
7     45.373798
8     44.691799
9     44.419800
10    44.379799
11    44.331799
12    44.284802
13    44.169800
14    44.099800
15    43.978802
16    43.721802
17    43.569801
18    43.511902
19    43.240799
20    43.471901
21    43.360901
22    42.929901
23    44.429901
24    43.099899
25    43.149898
26    42.999901
27    43.419899
28    43.499901
29    43.179901
        ...
32    42.879902
33    41.419899
34    41.177898
35    40.954899
36    40.779900
37    40.679901
38    40.629902
39    40.491901
40    38.969898
41    39.374901
42    39.650002
43    37.999901
44    38.970001
45    37.879902
46    37.691898
47    37.699902
48    37.579899
49    37.019901
50    37.580002
51    37.257000
52    37.327999
53    36.357899
54    36.029900
55    36.380001
56    34.750000
57    35.869999
58    35.369999
59    34.549999
60    34.799999
61    33.780102
Name: LAT, Length: 62, dtype: float64
0     48.776798
1     48.111801
2     46.869801
3     46.199799
4     46.205799
5     45.879799
6     45.929798
7     45.373798
8     44.691799
9     44.419800
10    44.379799
11    44.331799
12    44.284802
13    44.169800
14    44.099800
15    43.978802
16    43.721802
17    43.569801
18    43.511902
19    43.240799
20    43.471901
21    43.360901
22    42.929901
23    44.429901
24    43.099899
25    43.149898
26    42.999901
27    43.419899
28    43.499901
29    43.179901
        ...
32    42.879902
33    41.419899
34    41.177898
35    40.954899
36    40.779900
37    40.679901
38    40.629902
39    40.491901
40    38.969898
41    39.374901
42    39.650002
43    37.999901
44    38.970001
45    37.879902
46    37.691898
47    37.699902
48    37.579899
49    37.019901
50    37.580002
51    37.257000
52    37.327999
53    36.357899
54    36.029900
55    36.380001
56    34.750000
57    35.869999
58    35.369999
59    34.549999
60    34.799999
61    33.780102
Name: LAT, Length: 62, dtype: float64
0     48.776798
1     48.111801
2     46.869801
3     46.199799
4     46.205799
5     45.879799
6     45.929798
7     45.373798
8     44.691799
9     44.419800
10    44.379799
11    44.331799
12    44.284802
13    44.169800
14    44.099800
15    43.978802
16    43.721802
17    43.569801
18    43.511902
19    43.240799
20    43.471901
21    43.360901
22    42.929901
23    44.429901
24    43.099899
25    43.149898
26    42.999901
27    43.419899
28    43.499901
29    43.179901
        ...
32    42.879902
33    41.419899
34    41.177898
35    40.954899
36    40.779900
37    40.679901
38    40.629902
39    40.491901
40    38.969898
41    39.374901
42    39.650002
43    37.999901
44    38.970001
45    37.879902
46    37.691898
47    37.699902
48    37.579899
49    37.019901
50    37.580002
51    37.257000
52    37.327999
53    36.357899
54    36.029900
55    36.380001
56    34.750000
57    35.869999
58    35.369999
59    34.549999
60    34.799999
61    33.780102
Name: LAT, Length: 62, dtype: float64
0     48.776798
1     48.111801
2     46.869801
3     46.199799
4     46.205799
5     45.879799
6     45.929798
7     45.373798
8     44.691799
9     44.419800
10    44.379799
11    44.331799
12    44.284802
13    44.169800
14    44.099800
15    43.978802
16    43.721802
17    43.569801
18    43.511902
19    43.240799
20    43.471901
21    43.360901
22    42.929901
23    44.429901
24    43.099899
25    43.149898
26    42.999901
27    43.419899
28    43.499901
29    43.179901
        ...
32    42.879902
33    41.419899
34    41.177898
35    40.954899
36    40.779900
37    40.679901
38    40.629902
39    40.491901
40    38.969898
41    39.374901
42    39.650002
43    37.999901
44    38.970001
45    37.879902
46    37.691898
47    37.699902
48    37.579899
49    37.019901
50    37.580002
51    37.257000
52    37.327999
53    36.357899
54    36.029900
55    36.380001
56    34.750000
57    35.869999
58    35.369999
59    34.549999
60    34.799999
61    33.780102
Name: LAT, Length: 62, dtype: float64
0     48.776798
1     48.111801
2     46.869801
3     46.199799
4     46.205799
5     45.879799
6     45.929798
7     45.373798
8     44.691799
9     44.419800
10    44.379799
11    44.331799
12    44.284802
13    44.169800
14    44.099800
15    43.978802
16    43.721802
17    43.569801
18    43.511902
19    43.240799
20    43.471901
21    43.360901
22    42.929901
23    44.429901
24    43.099899
25    43.149898
26    42.999901
27    43.419899
28    43.499901
29    43.179901
        ...
32    42.879902
33    41.419899
34    41.177898
35    40.954899
36    40.779900
37    40.679901
38    40.629902
39    40.491901
40    38.969898
41    39.374901
42    39.650002
43    37.999901
44    38.970001
45    37.879902
46    37.691898
47    37.699902
48    37.579899
49    37.019901
50    37.580002
51    37.257000
52    37.327999
53    36.357899
54    36.029900
55    36.380001
56    34.750000
57    35.869999
58    35.369999
59    34.549999
60    34.799999
61    33.780102
Name: LAT, Length: 62, dtype: float64
0     48.776798
1     48.111801
2     46.869801
3     46.199799
4     46.205799
5     45.879799
6     45.929798
7     45.373798
8     44.691799
9     44.419800
10    44.379799
11    44.331799
12    44.284802
13    44.169800
14    44.099800
15    43.978802
16    43.721802
17    43.569801
18    43.511902
19    43.240799
20    43.471901
21    43.360901
22    42.929901
23    44.429901
24    43.099899
25    43.149898
26    42.999901
27    43.419899
28    43.499901
29    43.179901
        ...
32    42.879902
33    41.419899
34    41.177898
35    40.954899
36    40.779900
37    40.679901
38    40.629902
39    40.491901
40    38.969898
41    39.374901
42    39.650002
43    37.999901
44    38.970001
45    37.879902
46    37.691898
47    37.699902
48    37.579899
49    37.019901
50    37.580002
51    37.257000
52    37.327999
53    36.357899
54    36.029900
55    36.380001
56    34.750000
57    35.869999
58    35.369999
59    34.549999
60    34.799999
61    33.780102
Name: LAT, Length: 62, dtype: float64
0     48.776798
1     48.111801
2     46.869801
3     46.199799
4     46.205799
5     45.879799
6     45.929798
7     45.373798
8     44.691799
9     44.419800
10    44.379799
11    44.331799
12    44.284802
13    44.169800
14    44.099800
15    43.978802
16    43.721802
17    43.569801
18    43.511902
19    43.240799
20    43.471901
21    43.360901
22    42.929901
23    44.429901
24    43.099899
25    43.149898
26    42.999901
27    43.419899
28    43.499901
29    43.179901
        ...
32    42.879902
33    41.419899
34    41.177898
35    40.954899
36    40.779900
37    40.679901
38    40.629902
39    40.491901
40    38.969898
41    39.374901
42    39.650002
43    37.999901
44    38.970001
45    37.879902
46    37.691898
47    37.699902
48    37.579899
49    37.019901
50    37.580002
51    37.257000
52    37.327999
53    36.357899
54    36.029900
55    36.380001
56    34.750000
57    35.869999
58    35.369999
59    34.549999
60    34.799999
61    33.780102
Name: LAT, Length: 62, dtype: float64
0     48.776798
1     48.111801
2     46.869801
3     46.199799
4     46.205799
5     45.879799
6     45.929798
7     45.373798
8     44.691799
9     44.419800
10    44.379799
11    44.331799
12    44.284802
13    44.169800
14    44.099800
15    43.978802
16    43.721802
17    43.569801
18    43.511902
19    43.240799
20    43.471901
21    43.360901
22    42.929901
23    44.429901
24    43.099899
25    43.149898
26    42.999901
27    43.419899
28    43.499901
29    43.179901
        ...
32    42.879902
33    41.419899
34    41.177898
35    40.954899
36    40.779900
37    40.679901
38    40.629902
39    40.491901
40    38.969898
41    39.374901
42    39.650002
43    37.999901
44    38.970001
45    37.879902
46    37.691898
47    37.699902
48    37.579899
49    37.019901
50    37.580002
51    37.257000
52    37.327999
53    36.357899
54    36.029900
55    36.380001
56    34.750000
57    35.869999
58    35.369999
59    34.549999
60    34.799999
61    33.780102
Name: LAT, Length: 62, dtype: float64
0     48.776798
1     48.111801
2     46.869801
3     46.199799
4     46.205799
5     45.879799
6     45.929798
7     45.373798
8     44.691799
9     44.419800
10    44.379799
11    44.331799
12    44.284802
13    44.169800
14    44.099800
15    43.978802
16    43.721802
17    43.569801
18    43.511902
19    43.240799
20    43.471901
21    43.360901
22    42.929901
23    44.429901
24    43.099899
25    43.149898
26    42.999901
27    43.419899
28    43.499901
29    43.179901
        ...
32    42.879902
33    41.419899
34    41.177898
35    40.954899
36    40.779900
37    40.679901
38    40.629902
39    40.491901
40    38.969898
41    39.374901
42    39.650002
43    37.999901
44    38.970001
45    37.879902
46    37.691898
47    37.699902
48    37.579899
49    37.019901
50    37.580002
51    37.257000
52    37.327999
53    36.357899
54    36.029900
55    36.380001
56    34.750000
57    35.869999
58    35.369999
59    34.549999
60    34.799999
61    33.780102
Name: LAT, Length: 62, dtype: float64
0     48.776798
1     48.111801
2     46.869801
3     46.199799
4     46.205799
5     45.879799
6     45.929798
7     45.373798
8     44.691799
9     44.419800
10    44.379799
11    44.331799
12    44.284802
13    44.169800
14    44.099800
15    43.978802
16    43.721802
17    43.569801
18    43.511902
19    43.240799
20    43.471901
21    43.360901
22    42.929901
23    44.429901
24    43.099899
25    43.149898
26    42.999901
27    43.419899
28    43.499901
29    43.179901
        ...
32    42.879902
33    41.419899
34    41.177898
35    40.954899
36    40.779900
37    40.679901
38    40.629902
39    40.491901
40    38.969898
41    39.374901
42    39.650002
43    37.999901
44    38.970001
45    37.879902
46    37.691898
47    37.699902
48    37.579899
49    37.019901
50    37.580002
51    37.257000
52    37.327999
53    36.357899
54    36.029900
55    36.380001
56    34.750000
57    35.869999
58    35.369999
59    34.549999
60    34.799999
61    33.780102
Name: LAT, Length: 62, dtype: float64

In [48]:
lat = list(df['LAT'])
lon = list(df['LON'])
volName = list(df['NAME'])
el = list(df['ELEV'])

In [49]:
map = folium.Map(location=[38.58, -99.09],tiles="Mapbox Bright") #Sets the initial MAP
fg = folium.FeatureGroup(name="My Map") #creates a group for feature
for i,j,k,l in zip(lat, lon, volName, el):
    fg.add_child(folium.Marker(location=[i, j], popup="Volcano:: {} and Elevation is {}".format(k,str(l)),icon=folium.Icon(color="green")))

map.add_child(fg) #Adds the feature to the map
map.save('Map2.html') #Saves the Map